shopping-basket(data-id=`${basket.userId}`)
  h3 Shopping Basket
  ul.basket-items
    for item in basket.items
      basket-item
        li.basket-item
          = item.name
          = " "
          span.amount (#{item.amount})
